
/* Montserrat-Bold */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

/* Montserrat-Regular */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

/* Roboto-Light */
@font-face{
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Robotolight.woff') format('woff');
}

/* Roboto-Regular */
@font-face{
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto.woff') format('woff');
}
/* Kaushanscript-Regular */
@font-face{
    font-family: 'Kaushanscript-Regular';
    src: url('../fonts/Kaushanscript/Kaushanscript.woff') format('woff');
}